<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            
        </nav>
        <div class="copyright ml-auto">
            Smart Campus Service Portal <i class="la la la-copyright"></i> 2025
        </div>				
    </div>
</footer>