
			<div class="sidebar">
				<div class="scrollbar-inner sidebar-wrapper">
					<div class="user">
						<div class="photo">
							<img src="/assets/img/profile.jpg">
						</div>
						<div class="info">
							<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									Staff
									<span class="user-level">Administrator</span>
									<!-- <span class="caret"></span> -->
								</span>
							</a>
							<div class="clearfix"></div>

							<!-- <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
								<ul class="nav">
									<li>
										<a href="#profile">
											<span class="link-collapse">My Profile</span>
										</a>
									</li>
									<li>
										<a href="#edit">
											<span class="link-collapse">Edit Profile</span>
										</a>
									</li>
									<li>
										<a href="#settings">
											<span class="link-collapse">Settings</span>
										</a>
									</li>
								</ul>
							</div> -->
						</div>
					</div>
					<ul class="nav">
						<li class="nav-item ">
							<a href="/">
								<i class="la la-pie-chart"></i>
								<p>Dashboard</p>
							</a>
						</li>
						<li class="nav-item ">
							<a href="/timetable">
								<i class="la la la-calendar"></i>
								<p>Timetable</p>
							</a>
						<li class="nav-item ">
							<a href="/announcements">
								<i class="la la-bullhorn"></i>
								<p>Announcements</p>
							</a>
						</li>
						</li>
						<li class="nav-item ">
							<a href="/maintenances">
								<i class="la la-file-text"></i>
								<p>Maintenance</p>
							</a>
						</li>
						<li class="nav-item ">
							<a href="/students">
								<i class="la la-user"></i>
								<p>Students</p>
							</a>
						</li>
						<li class="nav-item ">
							<a href="/lecturers">
								<i class="la la-user"></i>
								<p>Lecturers</p>
							</a>
						</li>
						<li class="nav-item ">
							<a href="/adminstaffs">
								<i class="la la-user"></i>
								<p>Admin Staff</p>
							</a>
						</li>
					</ul>
				</div>
			</div>