
<%- include('../partials/header') %>
<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="index.html" class="logo">
					<i class="la la la-contao red"></i> SmartCampus
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<%- include('../partials/navbar') %>
			</div>
            <%- include('../partials/sidebar') %>
			<div class="main-panel">
				<div class="content">
					<div class="container-fluid">

                        <div class="row">
							<div class="col-md-3">
								<div class="card card-stats">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center icon-warning">
													<i class="la la-pie-chart text-warning"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Total Users</p>
													<h4 class="card-title">39</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-stats">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-bar-chart text-success"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Total Students</p>
													<h4 class="card-title">30</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-stats">
									<div class="card-body">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-times-circle-o text-danger"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Total Lecturers</p>
													<h4 class="card-title">7</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-stats">
									<div class="card-body">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-heart-o text-primary"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Total Amin Staff</p>
													<h4 class="card-title">2</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div> 
						</div>


						<h4 class="page-title">All Reports</h4>
						<div class="row">
                            <div class="col-md-12">
                                <div class="card"> 
                                    <div class="card-header">
                                        <div class="card-title">Maintenance Requests - May 2025</div>
                                </div>
                                <div class=" row-card-no-pd">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="progress-card">
                                                    <div class="d-flex justify-content-between mb-1">
                                                        <span class="text-muted">Total maintenance requests</span>
                                                        <span class="text-muted fw-bold"> 15</span>
                                                    </div>
                                                    <div class="progress mb-2" style="height: 7px;">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="78%"></div>
                                                    </div>
                                                </div>
                                                <div class="progress-card">
                                                    <div class="d-flex justify-content-between mb-1">
                                                        <span class="text-muted">Total maintenance requests in-progress</span>
                                                        <span class="text-muted fw-bold"> 5</span>
                                                    </div>
                                                    <div class="progress mb-2" style="height: 7px;">
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: 66%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="65%"></div>
                                                    </div>
                                                </div>
                                                <div class="progress-card">
                                                    <div class="d-flex justify-content-between mb-1">
                                                        <span class="text-muted">Total maintenance requests pending</span>
                                                        <span class="text-muted fw-bold"> 6</span>
                                                    </div>
                                                    <div class="progress mb-2" style="height: 7px;">
                                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 69%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="70%"></div>
                                                    </div>
                                                </div>
                                                <div class="progress-card">
                                                    <div class="d-flex justify-content-between mb-1">
                                                        <span class="text-muted">Total maintenance requests resolved</span>
                                                        <span class="text-muted fw-bold"> 4</span>
                                                    </div>
                                                    <div class="progress mb-2" style="height: 7px;">
                                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="60%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-action">
                                        <a class="btn btn-primary"  href="javascript:window.print()"><i class="la la-print"></i> Print this page</a>
                                    </div>
                                </div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
                <!-- <%- include('../partials/footer') %> -->
			</div>
		</div>
	</div>
</div>
</body>
</html>